<!--
    AngularJS application that displays weather information
    based on user input, from an external JSON source (i.e. OPenWeatherMap API)
 -->
<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <!-- Setting up the Angular-App and defining the controller -->
        <div ng-app="weatherApp" ng-controller="wCtrl" style="background: url({{background}}); background-size: 100% 100%;
                background-repeat: no-repeat;">
            <center>
                <form name="inputForm" novalidate>
                        <input type="text" placeholder="PLZ oder Stadt eingeben" name="wInput" ng-model="wInput" required>
                        <button class="button" ng-click="getWeather()" ng-disabled="inputForm.wInput.$invalid">Wetter abfragen</button>
                </form>
                <br>
                <!-- Block for current weather information -->
                <div class="wDisplay" ng-show="showCurrent">
                    <div class="wDay">Aktuelles Wetter:</div>
                    <div class="wData">
                        {{currentWeather.temp}}<br>
                        {{currentWeather.wind}}<br>
                        {{currentWeather.press}}
                    </div>
                    <div style="clear: both;"></div>
                </div>
                <br>
                <!-- Block for forecast -->
                <div class="wDisplay" ng-show="showForecast">
                    <div class="wDay">Morgen:</div>
                    <div class="wData">
                        {{forecast.tomorrow.temp}}<br>
                        {{forecast.tomorrow.wind}}<br>
                        {{forecast.tomorrow.press}}<br>
                        {{forecast.tomorrow.outlook}}
                    </div>
                    <div style="clear: both;"></div>
                    <!-- Placeholder so everything aligns properly -->
                    <div class="wDay"></div>
                    <div class="wOutlook">
                        <img ng-src="http://openweathermap.org/img/w/{{forecast.tomorrow.icon}}.png"/>
                        <span ng-bind="forecast.tomorrow.flavor"></span> 
                    </div>
                    <div style="clear: both;"></div>
                    <br>
                    <div class="wDay">Übermorgen:</div>
                    <div class="wData">
                        {{forecast.dayAfter.temp}}<br>
                        {{forecast.dayAfter.wind}}<br>
                        {{forecast.dayAfter.press}}<br>
                        {{forecast.dayAfter.outlook}}
                    </div>
                    <div style="clear: both;"></div>
                    <!-- Placeholder so everything aligns properly -->
                    <div class="wDay"></div>
                    <div class="wOutlook">
                        <img ng-src="http://openweathermap.org/img/w/{{forecast.dayAfter.icon}}.png"/>
                        <span ng-bind="forecast.dayAfter.flavor"></span> 
                    </div>
                    <div style="clear: both;"></div>
                </div>
            </center>
        </div>
        
        <!-- Setup the module -->
        <script>
            var app = angular.module('weatherApp', []);
        </script>
        <!-- Load external files -->
        <script src="weatherService.js"></script> 
        <script src="weatherController.js"></script> 
    </body>
</html>